@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'montserrat', sans-serif !important;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: inherit !important;
}

.header .my-bg-dark {
  background-color: #e7e2e2;
}

.header .navbar-dark .navbar-toggler {
  border-color: transparent;
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

.header .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z'%3E%3C/path%3E%3C/svg%3E");
}

.header .navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z'%3E%3C/path%3E%3C/svg%3E");
}

.header .nav-link {
  color: black !important;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.7;
  margin: 0 15px;
}

.header .nav-link:hover {
  opacity: 1;
}

.header .logo {
  background-image: url("../media/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  margin-right: 20px;
}

.header i {
  color: black;
  font-size: 2.3rem;
}

.banner {
  background-image: url("../media/drone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner .titulos {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-top: 10px;
  color: #e2b11e;
}

.banner .subTitulos {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.mensajes {
  min-height: 300px;
}

.mensajes .contenedores {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #fef600 0%, #ff9500 100%);
  height: 210px;
  width: 300px;
  border-radius: 60px;
  text-align: center;
}

.mensajes .contenedores .icon {
  font-size: 2.5rem;
  color: white;
  margin-top: 20px;
}

.mensajes .contenedores .titulos {
  font-size: 3rem;
  text-align: center;
  padding: 5px;
  color: white;
  margin-bottom: 0;
}

.mensajes .contenedores .descripcion {
  font-size: 1rem;
  text-align: center;
  color: black;
}

.info {
  background-color: #e7e2e2;
  margin-bottom: 50px;
  min-height: 150px;
}

.info .bordes {
  border-right: 5px solid white;
}

.info .titulos {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 30px 50px 0 30px;
}

.info .datos {
  font-weight: bold;
  color: #e2b11e;
  font-size: 1rem;
  text-align: center;
  padding: 5px 50px 30px 30px;
}

.footer {
  min-height: 100px;
  background-color: #e7e2e2;
}

.footer .texto {
  color: white;
  font-size: 1.2rem;
  margin: 0 20px;
  font-weight: bold;
}

.footer img {
  margin: 0 15px;
  width: 40px;
  height: 40px;
  transition: height 0.5s, width 0.5s;
}

.footer img:hover {
  height: 50px;
  width: 50px;
}

.footer .copy {
  font-size: 1rem;
  color: #e2b11e;
}

.presentacion1 .texto {
  font-size: 1.5rem;
  text-align: justify;
}

.presentacion1 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion1 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion1 .fondo {
  background-image: url("../media/pench.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-height: 70vh;
  opacity: 1;
}

.presentacion2 .texto {
  font-size: 1.5rem;
  text-align: justify;
}

.presentacion2 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion2 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion2 .fondo {
  background-image: url("../media/juli.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-height: 70vh;
  opacity: 1;
}

.presentacion3 .texto {
  font-size: 1.5rem;
  text-align: justify;
}

.presentacion3 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion3 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion3 .fondo {
  background-image: url("../media/gonza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-height: 70vh;
  opacity: 1;
}

.main {
  flex-grow: 1;
}

.main .titulo {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 30px 50px 0 30px;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-height: 900px;
  padding-top: 50px;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 0;
}

.servicios .caja {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  background-color: #e7e2e2;
  max-height: 650px;
  opacity: 0.8;
}

.servicios .caja:hover {
  opacity: 1.5;
  cursor: pointer;
}

.servicios .caja:hover .texto .titulo {
  font-size: 2.1rem;
}

.servicios .caja img {
  width: 350px;
  display: block;
  height: 230px;
}

.servicios .caja .texto {
  font-size: 1.4rem;
  padding: 0 15px 30px 15px;
}

.servicios .caja .texto .titulo {
  text-align: center;
  padding: 20px 0;
  font-size: 1.9rem;
  color: white;
  font-weight: bold;
}

.servicios .caja .texto .descripcion {
  padding: 0 15px 30px 15px;
}

.servDest .card:hover {
  cursor: pointer;
}

.servDest .card:hover .card-title {
  background-color: #e2b11e;
  color: white;
}

.servDest .card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.servDest .myCard-img-top {
  max-height: 407px;
}

.fondo {
  background-image: url("../media/semillas.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.formulario {
  min-height: 100vh;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.formulario input {
  background-color: transparent;
}

.formulario .text {
  height: 100px;
}

/*------DECLARACION DE MEDIA QUERIES PARA TODAS LAS SECCIONES------*/
@media (max-width: 576px) {
  .banner .titulos {
    font-size: 2rem;
  }
  .banner .subTitulos {
    font-size: 1.5rem;
  }
  .info .bordes {
    border-right: 0px solid white;
    border-bottom: 5px solid white;
  }
  .footer {
    min-height: 50px;
  }
  .footer img {
    width: 30px;
    height: 30px;
  }
  .presentacion1 .texto {
    font-size: 1.2rem;
  }
  .presentacion1 .texto .nombre {
    font-size: 2rem;
  }
  .presentacion1 .texto .detalle {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  .presentacion1 .fondo {
    min-height: 50vh;
  }
  .presentacion2 .texto {
    font-size: 1.2rem;
    padding-left: 10px !important;
  }
  .presentacion2 .texto .nombre {
    font-size: 2rem;
  }
  .presentacion2 .texto .detalle {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  .presentacion2 .fondo {
    min-height: 50vh;
  }
  .presentacion3 .texto {
    font-size: 1.2rem;
  }
  .presentacion3 .texto .nombre {
    font-size: 2rem;
  }
  .presentacion3 .texto .detalle {
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
  .presentacion3 .fondo {
    min-height: 50vh;
  }
  .servDest .card-title {
    background-color: #e2b11e;
    color: white;
    font-size: 1.3rem;
  }
  .main .titulo {
    font-size: 2.5rem;
  }
}
