@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'montserrat', sans-serif !important;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: inherit !important;
}

.header .my-bg-dark {
  background-color: #e7e2e2;
}

.header .nav-link {
  color: black !important;
  font-weight: bold;
  font-size: 1rem;
  opacity: 0.7;
  margin: 0 20px;
}

.header .nav-link:hover {
  opacity: 1;
}

.header .logo {
  background-image: url("../media/logo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  margin-right: 20px;
}

.banner {
  background-image: url("../media/drone.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner .titulos {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 10px 15px 0 15px;
  color: #e2b11e;
}

.banner .subTitulos {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

.mensajes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 50px;
  height: 300px;
}

.mensajes .contenedores {
  background-color: #bafb8d;
  height: 210px;
  width: 300px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
}

.mensajes .contenedores .icon {
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.mensajes .contenedores .titulos {
  font-size: 3rem;
  text-align: center;
  padding: 5px;
  color: white;
  margin-bottom: 0;
}

.mensajes .contenedores .descripcion {
  font-size: 1rem;
  text-align: center;
  color: #e2b11e;
}

.info {
  display: flex;
  flex-direction: row;
  background-color: #e7e2e2;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
  min-height: 150px;
  align-content: center;
}

.info .titulos {
  font-weight: bold;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 30px 50px 0 30px;
}

.info .datos {
  font-weight: normal;
  color: #e2b11e;
  font-size: 1rem;
  text-align: center;
  padding: 5px 50px 30px 30px;
}

.info .lineas {
  border-right: 2px solid white;
  margin: 30px 0;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100px;
  align-items: center;
  justify-content: flex-start;
  background-color: #e7e2e2;
}

.footer .texto {
  color: white;
  font-size: 1.2rem;
  margin: 0 20px;
}

.footer img {
  margin: 0 15px;
  width: 50px;
  height: 50px;
  transition: height 1s, width 1s;
}

.footer img:hover {
  height: 60px;
  width: 60px;
}

.footer .copy {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1rem;
  flex-grow: 1;
  color: #e2b11e;
}

.presentacion1 {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  margin: 50px 20px;
}

.presentacion1 .texto {
  max-width: 50%;
  min-width: 585px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 20px;
}

.presentacion1 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion1 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion1 .fondo {
  background-image: url("../media/pench.jpg");
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentacion2 {
  min-height: 500px;
  display: flex;
  flex-direction: row-reverse;
  margin: 50px 20px;
}

.presentacion2 .texto {
  max-width: 50%;
  min-width: 585px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.5rem;
  margin-left: 20px;
  text-align: justify;
}

.presentacion2 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion2 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion2 .fondo {
  background-image: url("../media/juli.jpg");
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.presentacion3 {
  min-height: 500px;
  display: flex;
  flex-direction: row;
  margin: 50px 20px;
}

.presentacion3 .texto {
  max-width: 50%;
  min-width: 585px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 1.5rem;
  text-align: justify;
  margin-right: 20px;
}

.presentacion3 .texto .nombre {
  font-size: 2.8rem;
  padding-bottom: 15px;
  font-weight: bold;
}

.presentacion3 .texto .detalle {
  padding-bottom: 50px;
  font-size: 1.7rem;
}

.presentacion3 .fondo {
  background-image: url("../media/gonza.jpg");
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  flex-grow: 1;
}

.main .titulo {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin: 30px 50px 0 30px;
}

.servicios {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-height: 900px;
  padding-top: 50px;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 0;
}

.servicios .caja {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  background-color: #e7e2e2;
  max-height: 650px;
  opacity: 0.8;
}

.servicios .caja:hover {
  opacity: 1.5;
  cursor: pointer;
}

.servicios .caja:hover .texto .titulo {
  font-size: 2.1rem;
}

.servicios .caja img {
  width: 350px;
  display: block;
  height: 230px;
}

.servicios .caja .texto {
  font-size: 1.4rem;
  padding: 0 15px 30px 15px;
}

.servicios .caja .texto .titulo {
  text-align: center;
  padding: 20px 0;
  font-size: 1.9rem;
  color: white;
  font-weight: bold;
}

.servicios .caja .texto .descripcion {
  padding: 0 15px 30px 15px;
}

.servDest .card:hover {
  cursor: pointer;
}

.servDest .card:hover .card-title {
  background-color: #e2b11e;
  color: white;
}

.servDest .card-title {
  font-weight: bold;
}

.servDest .myCard-img-top {
  max-height: 407px;
}

.fondo {
  background-image: url("../media/granos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}

.formulario {
  min-height: 100vh;
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.formulario input {
  background-color: transparent;
}

.formulario .text {
  height: 100px;
}
