@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,800;1,300&display=swap');
*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'montserrat', sans-serif !important;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: inherit !important;
}
.header{
	.my-bg-dark{
		background-color: $bg-color;
	}
	.nav-link{
		color: black !important;
		font-weight: bold;
		font-size: 1rem;
		opacity: 0.7;
		margin: 0 15px;
		&:hover{
			opacity: 1;
		}
	}
	.logo{
		background-image: url('../media/logo.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		border-radius: 60px;
		margin-right: 20px;
	}
}
.banner{
	background-image: url('../media/drone.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 50vh;
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.titulos{
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		margin: 10px 15px 0 15px;
		color: $color2;
	}
	.subTitulos{
		font-size: 2rem;
		text-align: center;
		font-weight: bold;
	}
}
@media (max-width: 576px){
	.banner .titulos{
		font-size: 2rem;
	}
	.banner .subTitulos{
		font-size: 1.5rem;
	}
}
.mensajes{
	height: 300px;
	.contenedores{
		background-color: #bafb8d;
		height: 210px;
		width: 300px;
		border-radius: 60px;
		text-align: center;
		.icon{
			font-size: 2.5rem;
			color: $color1;
			margin-top: 20px;
		}
		.titulos{
			font-size: 3rem;
			text-align: center;
			padding: 5px;
			color: $color1;
			margin-bottom: 0;
		}
		.descripcion{
			font-size: 1rem;
			text-align: center;
			color: $color2;
		}
	}
}
.info{
	background-color: $bg-color;
	margin-bottom: 50px;
	min-height: 150px;
	.titulos{
		font-weight: bold;
		color: $color1;
		font-size: 3rem;
		text-align: center;
		margin: 30px 50px 0 30px;
		}
	.datos{
		font-weight: normal;
		color: $color2;
		font-size: 1rem;
		text-align: center;
		padding: 5px 50px 30px 30px;
	}
}
.footer{
	min-height: 100px;
	background-color: $bg-color;
	.texto{
		color: $color1;
		font-size: 1.2rem;
		margin: 0 20px;
		font-weight: bold;
	}
	img{
		margin: 0 15px;
		width: 40px;
		height: 40px;
		transition: height 0.5s, width 0.5s;
			&:hover{
			height: 50px;
			width: 50px;
		}
	}
	.copy{
		font-size: 1rem;
		color: $color2;
	}
}
@media (max-width: 576px){
	.footer{
		min-height: 50px;
		img{
			width: 30px;
			height: 30px;
		}
	}
}
.presentacion1{
	min-height: 500px;
	min-width: 500px;
	.texto{
		min-width: 585px;
		font-size: 1.5rem;
		text-align: justify;
		.nombre{
			font-size: 2.8rem;
			padding-bottom: 15px;
			font-weight: bold;
		}
		.detalle{
			padding-bottom: 50px;
			font-size: 1.7rem;
		}
	}
	.fondo{
		background-image: url('../media/pench.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
	}	
}
@media (max-width: 576px){
	.presentacion1{
		min-height: 300px;
		min-width: 300px;
		.texto{
			font-size: 1.2rem;
			.nombre{
				font-size: 2.3rem;
			}
			.detalle{
				font-size: 1.3rem;
			}
		}
	}
}
.presentacion2{
	min-height: 500px;
	min-width: 500px;
	.texto{
		min-width: 585px;
		font-size: 1.5rem;
		text-align: justify;
		.nombre{
			font-size: 2.8rem;
			padding-bottom: 15px;
			font-weight: bold;
		}
		.detalle{
			padding-bottom: 50px;
			font-size: 1.7rem;
		}
	}
	.fondo{
		background-image: url('../media/juli.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
	}	
}
@media (max-width: 576px){
	.presentacion2{
		min-height: 300px;
		min-width: 300px;
		.texto{
			font-size: 1.2rem;
			.nombre{
				font-size: 2.3rem;
			}
			.detalle{
				font-size: 1.3rem;
			}
		}
	}
}
.presentacion3{
	min-height: 500px;
	min-width: 500px;
	.texto{
		min-width: 585px;
		font-size: 1.5rem;
		text-align: justify;
		.nombre{
			font-size: 2.8rem;
			padding-bottom: 15px;
			font-weight: bold;
		}
		.detalle{
			padding-bottom: 50px;
			font-size: 1.7rem;
		}
	}
	.fondo{
		background-image: url('../media/gonza.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 20px;
	}	
}
@media (max-width: 576px){
	.presentacion3{
		min-height: 300px;
		min-width: 300px;
		.texto{
			font-size: 1.2rem;
			.nombre{
				font-size: 2.3rem;
			}
			.detalle{
				font-size: 1.3rem;
			}
		}
	}
}
.main{
	flex-grow: 1;
	.titulo{
		font-weight: bold;
		font-size: 3rem;
		text-align: center;
		margin: 30px 50px 0 30px; 
	}
}
.servicios{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	min-height: 900px;
	padding-top: 50px;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 0;
	.caja{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 350px;
		background-color: $bg-color;
		max-height: 650px;
		opacity: 0.8;
			&:hover{
			opacity: 1.5; 
			cursor: pointer;
			.texto .titulo{
				font-size: 2.1rem;
			}
			}
		img{
			width: 350px;
			display: block;
			height: 230px;
		}
		.texto{
			font-size: 1.4rem;
			padding: 0 15px 30px 15px;
			.titulo{
				text-align: center;
				padding: 20px 0;
				font-size: 1.9rem;
				color: $color1;
				font-weight: bold;
			}
			.descripcion{
				padding: 0 15px 30px 15px;
			}
		}
	}
}
.servDest{
	.card{
		&:hover{
			cursor: pointer;
			.card-title{
				background-color: $color2;
				color: $color1;
			}
		}
	}
	.card-title{
		font-weight: bold;
		font-size: 1.5rem;
	}
	.myCard-img-top{
		max-height: 407px;
	}
}

.fondo{
	background-image: url('../media/semillas.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}
.formulario{
	min-height: 100vh;
	margin-top: 20px;
	color: $color1;
	font-weight: bold;
	input{
		background-color: transparent;
	}
	.text{
		height: 100px;
	}
}